<header class="header header-sticky mb-4 shadow-sm">
    <div class="container-fluid d-flex justify-content-center">
        <ul class="header-nav">
            <li class="nav-item d-inline-flex gap-2">
                <input class="form-control bg-light" id="Search" type="text" name="Search" placeholder="Search" style="width: 30rem" />
                <button onclick="search()" class="btn btn-primary"><i class="fa-solid fa-search text-white"></i></button>
            </li>
        </ul>
    </div>
</header>

<script type="module">
    $(document).ready(() => {
        search()
    })

    $("#Search").on("keyup", function (e) {
        if (!e) e = window.event;
        var keyCode = e.code || e.key;
        if (keyCode == "Enter")
            search()
    })

    window.search = function () {
        $.ajax({
            url: "/Search/Run/",
            type: "POST",
            data: { q: $("#Search").val() },
            success: function (res) {
                $("#QueriesFound").html(res)
            }
        })
    }
</script>